<div class="links">
  <a class="icon-wrapper" href="https://www.linkedin.com/in/suneric1/" target="_blank">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a class="icon-wrapper" href="https://twitter.com/suneric1" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a class="icon-wrapper" href="https://github.com/suneric1" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a class="icon-wrapper" href="https://www.facebook.com/zhiming.sun.79?ref=bookmarks" target="_blank">
    <i class="fab fa-facebook-square"></i>
  </a>
</div>