.links {
  text-align: center;
  display: flex;
  justify-content: center;
}

.icon-wrapper {
  display: inline-block;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;

  &:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.3rem;
    width: 0;
    height: 2px;
    background: #3a3a3a;
    opacity: 0.8;
    transition: all ease 0.3s;
    filter: blur(3px);
  }

  &:hover {
    .icon-font {
      transform: translateY(-0.4rem);
    }

    &:after {
      width: 50%;
      left: 25%;
      bottom: -0.5rem;
    }
  }

  .qrcode {
    display: none;
    position: absolute;
    max-width: 10rem;
    pointer-events: none;
    bottom: 3.5rem;
    left: -3.5rem;
  }

  .icon-wechat:hover + .qrcode {
    display: block;
  }

}

.icon-font {
  display: inline-block;
  color: #363636;
  font-size: 1.5rem;
  transition: all 0.3s;
}
