<div class="links">
  <a class="icon-wrapper" href="https://www.linkedin.com/in/suneric1/" target="_blank">
    <i class="icon-font icon-linkedin"></i>
  </a>
  <a class="icon-wrapper" href="https://github.com/suneric1" target="_blank">
    <i class="icon-font icon-github-circled"></i>
  </a>
  <a class="icon-wrapper">
    <i class="icon-font icon-wechat"></i>
    <img class="qrcode" src="./assets/img/wechat-qr-code.jpg" alt="">
  </a>
  <a class="icon-wrapper" href="https://twitter.com/suneric1" target="_blank">
    <i class="icon-font icon-twitter"></i>
  </a>
</div>