.project-info {
  position: sticky;
  top: 5rem;
}

.thumbnail-container {
  width: 100%;
  overflow: hidden;
}

.thumbnail {
  background-size: cover;
  padding-bottom: 100%;
  transform: scale(1.01);
}

ul {
  padding: 0;
  font-size: .9rem;

  h6 {
    font-weight: bold;
    font-size: .8rem;
    margin: 1.5rem 0 0;
    line-height: 1.5;
  }

  li {
    font-weight: 300;
    list-style: none;
  }
}