.project-info {
  position: fixed;
  position: sticky;
  top: 5rem;

  &.loading {
    * {
      font-family: 'flow-circular' !important;
      color: #e9e9e9;
      font-size: 24px;
      line-height: .8 !important;
      border: none !important;
      animation: 1s color-breathing infinite alternate;
    }
    .thumbnail {
      background: #f0f0f0 !important;
      animation: 1s bg-breathing infinite alternate;
    }
  }
}

.thumbnail-container {
  width: 100%;
  overflow: hidden;
}

.thumbnail {
  background-size: cover;
  padding-bottom: 100%;
  transform: scale(1.01);
}

ul {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  font-size: .9rem;

  h6 {
    font-weight: 800;
    font-size: .8rem;
    margin: 1.5rem 0 0;
    line-height: 1.5;
  }

  li {
    font-weight: 300;
    list-style: none;
  }
}