<nav class="navbar navbar-expand-md navbar-light" [class.shrink]="shrinkNav">
  <div class="container-fluid">
    <div class="logo d-none d-sm-block">
      <object data="assets/img/logo.svg" type="image/svg+xml"></object>
    </div>
    <a class="navbar-brand" routerLink="/">
      <span class="first-name">
        <span class="cn">ZHIMING</span>
        <span class="en">ERIC</span>
      </span>
      <span> SUN</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [class.active]="workActive" [routerLink]="['/']">WORK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">RESUME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>