.navbar {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 2rem 0;
  font-size: .85rem;
  font-weight: 500;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .5s;
  will-change: background, padding;

  &.shrink {
    background-color: #f9f9f9;
    padding: 1rem 0;

    &:after {
      display: block;
      content: '';
    }
  }
}

.navbar-brand {
  display: inline-block;
  overflow: hidden;
  padding-left: 1rem;

  &:hover {
    .first-name {
      transform: translateY(-2rem);
    }
  }
}

.first-name {
  position: relative;
  display: inline-block;
  transition: all 0.3s;

  .en {
    position: absolute;
    top: 2rem;
    right: 0;
  }
}

.navbar-brand {
  font-weight: bold;
}

.logo {
  position: absolute;
  left: calc(50% - 28px);
}

.nav-item {
  color: #363636;
  position: relative;
  padding-left: 1rem;

  a {
    position: relative;
  }

  a:after {
    display: block;
    position: absolute;
    content: '';
    background: #363636;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    transition: all ease 0.3s;
  }

  a:hover:after, a.active:after {
    width: calc(100% - 1rem);
    left: .5rem;
  }
}