@import '../../bootstrap-exports';

.navbar {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 2rem 1rem;
  font-size: 0.85rem;
  font-weight: 500;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  align-items: center;
  transition: all 0.5s;
  will-change: background, padding;

  &.shrinked {
    padding: .5rem;
    box-shadow: 0 1px 4px 0 rgba(128,128,128,0.13);

    &:after {
      display: block;
      content: '';
    }
  }

  &.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.navbar-nav {
  @include media-breakpoint-down(sm) {
    height: 95vh;
    justify-content: space-around;
    padding: 4rem 2rem;
  }
}

.navbar-brand {
  display: inline-block;
  overflow: hidden;
  padding-left: 1rem;

  &:hover {
    .first-name {
      transform: translateY(-2rem);
    }
  }
}

.first-name {
  position: relative;
  display: inline-block;
  transition: all 0.3s;

  &.shifted {
    transform: translateY(-2rem);
  }

  .en {
    position: absolute;
    top: 2rem;
    right: 0;
  }
}

.navbar-brand {
  font-weight: bold;
}

.logo {
  position: absolute;
  left: calc(50% - 28px);
  height: 32px;
  top: calc(50% - 16px);
}

.nav-item {
  color: #363636;
  position: relative;
  padding-left: 1rem;

  a {
    position: relative;

    @include media-breakpoint-down(sm) {
      padding: 2rem 0;
      text-align: center;
    }
  }

  a:after {
    display: block;
    position: absolute;
    content: '';
    background: #363636;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    transition: all ease 0.3s;
  }

  a:hover:after,
  a.active:after {
    @include media-breakpoint-up(sm) {
      width: calc(100% - 1rem);
      left: 0.5rem;
    }
  }
}

.navbar-toggler {
  color: #363636;
  border-color: transparent;
  transition: all 0.2s;
  &:not(.collapsed) {
    transform: rotate(-90deg);
  }

  .fas {
    font-size: 1.75rem;
    &:before {
      content: '\f00d';
    }
  }

  &.collapsed .fas:before {
    content: '\f0c9';
  }
}

.navbar-collapse.d-lg-none {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.nav-link.active {
  @include media-breakpoint-down(sm) {
    font-weight: 900;
  }
}