<nav class="navbar navbar-expand-md navbar-light" [ngClass]="navClass" @fadeDown>
  <div class="logo d-none d-md-block">
    <object data="./assets/img/logo.svg" type="image/svg+xml">
      <img src="./assets/img/logo.svg" alt="">
    </object>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand mr-auto" routerLink="/">
      <span class="first-name" [class.shifted]="showMenu">
        <span class="cn">ZHIMING</span>
        <span class="en">ERIC</span>
      </span>
      <span> SUN</span>
    </a>
    <button class="navbar-toggler" [class.collapsed]="!showMenu" (click)="toggleMenu()">
      <i class="fas"></i>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ng-container *ngTemplateOutlet="navList"></ng-container>
  </div>
  <div class="navbar-collapse d-lg-none" @expand *ngIf="showMenu">
    <ng-container *ngTemplateOutlet="navList"></ng-container>
  </div>
</nav>

<ng-template #navList>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" [class.active]="workActive" [routerLink]="['/']" (click)="showMenu = false">WORK</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active" (click)="showMenu = false">CONTACT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://cdn.ericzs.com/Zhiming+Sun+-+Resume+CN.pdf" target="_blank">RESUME (CN)<i class="fas fa-arrow-alt-circle-down d-inline ml-1"></i></a>
    </li>
  </ul>
</ng-template>