<nav class="navbar navbar-expand-md navbar-light" [class.shrink]="shrinkNav">
  <div class="container-fluid">
    <div class="logo d-none d-md-block">
      <object data="assets/img/logo.svg" type="image/svg+xml"></object>
    </div>
    <a class="navbar-brand" routerLink="/">
      <span class="first-name" [class.shifted]="showMenu">
        <span class="cn">ZHIMING</span>
        <span class="en">ERIC</span>
      </span>
      <span> SUN</span>
    </a>
    <button class="navbar-toggler" [class.collapsed]="!showMenu" (click)="toggleMenu()">
      <i class="fas"></i>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ng-container *ngTemplateOutlet="navList"></ng-container>
  </div>
  <div class="navbar-collapse" @expand *ngIf="showMenu">
    <ng-container *ngTemplateOutlet="navList"></ng-container>
  </div>
</nav>

<ng-template #navList>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" [class.active]="workActive" [routerLink]="['/']" (click)="showMenu = false">WORK</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="showMenu = false">RESUME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active" (click)="showMenu = false">CONTACT</a>
    </li>
  </ul>
</ng-template>