@import '../../bootstrap-exports';

.intro-container {
  position: fixed;
  padding: 6rem 0;
  left: 0;
  right: 0;
}

.intro {
  margin: 0 auto;
  padding: 0 2rem;
  font-style: italic;
  max-width: 600px;
  font-size: 1.2rem;
  animation: message-anim 1s;
  transition: transform 0.1s;

  .design, .develop {
    position: relative;
    font-weight: 900;
    padding: 0 5px;
    cursor: pointer;
  
    &:before {
      position: absolute;
      content: "";
      height: 3px;
      width: 100%;
      z-index: -100;
      left: 0;
      bottom: 3px;
      border-radius: 5px;
      transition: all ease 0.3s;
    }

    &:hover:before {
      bottom: 0;
      height: 23px;
    }
  }
  
  .design:before {
    background-color: #fff500;
  }
  
  .develop:before {
    background-color: #82cdff;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25rem;
}

app-thumbnail {
  display: block;
  width: 25%;
  @include media-breakpoint-down(xs) {
    width: 50%;
  }

  &.size-2 {
    width: 50%;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}

app-footer {
  display: block;
  margin-top: 120px;
}