<div class="intro-container">
  <p class="intro text-center" [ngClass]="translate.currentLang" [ngStyle]="msgStyle" @fadeUp>
    {{ 'intro.start' | translate }}
    <span class="design" fireParticles="circle">{{ 'intro.designer' | translate }}</span>
    {{ 'intro.conj' | translate }}
    <span class="develop" fireParticles="rect">{{ 'intro.developer' | translate }}</span>
    {{ 'intro.end' | translate }}
  </p>
</div>
<div class="tabs" #tabsElem @fadeUp>
  <a
    class="tab"
    routerLinkActive="tab-focused"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/"
    (click)="scroll(tabsElem.offsetTop, $event)"
  >
    <i class="icon-font icon-star"></i>
    {{ 'tabs.featured' | translate }}
  </a>
  <a
    *ngFor="let t of tabs"
    class="tab"
    routerLinkActive="tab-focused"
    routerLink="/"
    [queryParams]="{ filter: t[0] }"
    (click)="scroll(tabsElem.offsetTop, $event)"
  >
    <i class="icon-font" [ngClass]="t[2]"></i>
    {{ 'tabs.' + t[0] | translate }}
  </a>
</div>
<div class="projects" @fadeUp>
  <app-thumbnail
    *ngFor="let project of projects"
    [project]="project"
    [ngClass]="'size-' + project.size"
  ></app-thumbnail>
</div>
<app-footer></app-footer>
