<div class="intro-container">
  <p class="intro text-center text-sm-left" [ngStyle]="msgStyle">Hi. My name is Zhiming Sun. I’m a
    <span class="design" fireParticles="circle">designer</span>
    &
    <span class="develop" fireParticles="rect">developer</span>
    based in Miami. I like to create interactive products with both great aesthetics and user experience. I dedicate
    myself to
    engaging and functional designs that leverage creative technologies to expand the possibility of the real world.</p>
</div>
<div class="row projects">
  <app-thumbnail *ngFor="let project of projects" [project]="project" [ngClass]="'size-'+project.size"></app-thumbnail>
</div>
<app-footer></app-footer>