<svg width="42px" height="42px" viewBox="399 270 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(399.000000, 270.000000)">
    <circle cx="7" cy="21" r='2'></circle>
    <circle cx="35" cy="21" r='2'></circle>
    <circle cx="21" cy="35" r='2'></circle>
    <circle cx="31" cy="32" r='2'></circle>
    <circle cx="31" cy="11" r='2'></circle>
    <circle cx="11" cy="32" r='2'></circle>
    <circle cx="11" cy="11" r='2'></circle>
    <circle cx="21" cy="7" r='2'></circle>
  </g>
</svg>