<svg width="42px" height="42px" viewBox="399 270 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(399.000000, 270.000000)">
    <rect x="14" y="0" width="2" height="2"></rect>
    <rect x="24" y="4" width="2" height="2"></rect>
    <rect x="28" y="14" width="2" height="2"></rect>
    <rect x="24" y="25" width="2" height="2"></rect>
    <rect x="14" y="28" width="2" height="2"></rect>
    <rect x="4" y="25" width="2" height="2"></rect>
    <rect x="0" y="14" width="2" height="2"></rect>
    <rect x="4" y="4" width="2" height="2"></rect>
  </g>
</svg>