@import '../../bootstrap-exports';

.project-wrapper {
  display: flex;
  margin-top: 2.5rem;

  @include media-breakpoint-down(sm) {
    margin-top: 1rem;
  }

  &.loading {
    * {
      font-family: 'flow-circular' !important;
      color: #f0f0f0 !important;
      font-size: 24px;
      line-height: .8 !important;
      border: none !important;
      animation: 1s color-breathing infinite alternate;
    }
    img, iframe {
      display: none;
    }
    .video {
      background: #f0f0f0 !important;
      animation: 1s bg-breathing infinite alternate;
    }
  }
}

app-project-info {
  display: block;
  min-width: 200px;
}

.content {
  padding: 0 15px;

  @include media-breakpoint-down(sm) {
    padding: 0 2rem;
  }

  .title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 800;
  }

  h6 {
    font-weight: bold;
    margin-bottom: .25rem;
  }

  .badge {
    font-size: 0.9rem;
    margin-left: 0.75rem;
    color: #fff;
    background-color: #008eff;

    @include media-breakpoint-down(xs) {
      display: block;
      width: 100%;
      margin-top: .25rem;
      margin-left: 0;
      padding: .5rem;
      color: #008eff;
      background-color: #ecf7ff;
    }
  }

  .category {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-bottom: 0.75rem;
    border-bottom: solid 1px #e9e9e9;
  }

  h4 {
    font-weight: bold;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .image-wrapper, .video-wrapper {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    img {
      max-height: 300px;
      max-width: calc(100% - 30px);

      &.xl {
        max-height: initial;
      }
    }

    .caption {
      font-style: italic;
      color: #6c757d;
      margin-top: 0.25rem;
    }
  }

  .paragraph {
    margin-bottom: 1.25rem;
    line-height: 1.4;
  }

  .video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0;
      top: 0;
      left: 0;
    }
  }

  .ext-link {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.25rem;
    border-top: solid 1px #f6f6f6;
    border-bottom: solid 1px #f6f6f6;
    padding: 1rem 0;
    margin: 1rem auto;

    a {
      text-decoration: none;
      padding-bottom: .35rem;
      transition: all .3s;

      &:hover {
        letter-spacing: 1px;
      }
    }
  }

  .quote {
    font-weight: 300;
    font-style: italic;
    padding: 0 3rem 0 4rem;
    position: relative;

    .fas {
      font-size: 1.5rem;
      position: absolute;
    }

    .fa-quote-left {
      left: 1rem;
      top: 0;
    }

    .fa-quote-right {
      right: .5rem;
      bottom: 0;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: stretch;
    margin-top: 6rem;
  }

  .footer__btn {
    color: inherit;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(128,128,128,0.13), 0 1px 8px 0 rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    transition: background-color .2s;

    &:hover {
      background-color: #f9f9f9;
    }

    p {
      margin-bottom: 0;
      width: 100%;
    }

    .fas {
      transition: all .2s;
    }

    &.back:hover .fas {
      transform: translateX(-.25rem);
    }

    &.back {
      min-width: 95px;
    }

    &.next {
      flex-grow: 1;
      margin-left: 1rem;
      padding-right: 2rem;

      p {
        margin-bottom: 0;
        width: 100%;
      }

      p:first-child {
        font-size: .9rem;
        color: #c7c7c7;
        margin-bottom: .2rem;
      }

      .next-name {
        font-size: 1.15rem;
        font-weight: 900;
        line-height: 1.2;
      }

      .fas {
        position: absolute;
        right: 1.25rem;
        top: calc(50% - .5rem);
      }

      &:hover .fas {
        right: 1rem;
      }
    }
  }
}

app-footer {
  background-color: #f9f9f9;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: block;
  margin-top: 8rem;
}