@import '../../bootstrap-exports';

.project-wrapper {
  display: flex;
  margin-top: 2.5rem;

  @include media-breakpoint-down(sm) {
    margin-top: 1rem;
  }

  .loading {
    * {
      font-family: 'flow-circular' !important;
      color: #f0f0f0 !important;
      font-size: 24px;
      line-height: .8 !important;
      border: none !important;
      animation: 1s color-breathing infinite alternate;
    }
    // img, iframe {
    //   display: none;
    // }
    // .video {
    //   animation: 1s bg-breathing infinite alternate;
    // }
  }
}

app-project-info {
  display: block;
  min-width: 200px;
}

.translated {
  font-size: .875rem;
  display: inline-block;
  color: #6d757d;
  background: #f6f6f6;
  border-radius: 1rem;
  padding: 2px 8px;

  .translate-link {
    color: #007bff;
    cursor: pointer;
    margin-left: .25rem;

    &:hover {
      color: #0056b3;
    }
  }
}

.content::ng-deep {
  padding: 0 15px;

  @include media-breakpoint-down(sm) {
    padding: 0 2rem;
  }

  @include media-breakpoint-down(xs) {
    padding: 0 1rem;
  }

  .title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
  }

  h6 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .badge {
    font-size: 0.9rem;
    margin-left: 0.75rem;
    color: #fff;
    background-color: #008eff;

    @include media-breakpoint-down(xs) {
      display: block;
      width: 100%;
      margin-top: .25rem;
      margin-left: 0;
      padding: .5rem;
      color: #008eff;
      background-color: #ecf7ff;
    }
  }

  .category {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.75rem;
    border-bottom: solid 1px #e9e9e9;
    margin-bottom: .5rem;
    font-size: .875rem;
    color: #6d757d;
  }

  .icon-font::before {
    margin: 0;
  }

  .time {
    text-align: right;
    font-style: italic;
    color: $secondary;
    font-size: .9rem;

    .icon-font {
      color: #c7c7c7;
    }
  }

  blockquote {
    color: #6d757d;
    border-left: solid 2px #008eff;
    padding-left: .5rem;

    p {
      margin-bottom: .25rem;
    }
  }

  ol, ul, dl {
    padding-left: 1.5rem;
  }

  h4 {
    font-weight: bold;
    padding-top: 1.5rem;
  }

  .image-wrapper, .video-wrapper {
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;

    img, video {
      max-width: calc(100% - 60px);
      max-height: 480px;

      &.xl {
        max-height: initial;
      }
    }

    @include media-breakpoint-down(xs) {
      padding: 0;

      img, video {
        max-width: 100%;
      }
    }

    .caption {
      color: #6c757d;
      font-size: .875rem;
      margin-top: 0.5rem;
    }
  }

  .paragraph {
    margin-bottom: 1.25rem;
    line-height: 1.4;
  }

  .video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      top: 0;
      left: 0;
    }
  }

  .ext-link {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.25rem;
    border-top: solid 1px #f6f6f6;
    border-bottom: solid 1px #f6f6f6;
    padding: 1rem 0;
    margin: 1rem auto;

    a {
      text-decoration: none;
      padding-bottom: .35rem;
      transition: all .3s;

      &:hover {
        letter-spacing: 1px;
      }
    }
  }

  .quote {
    font-weight: 300;
    font-style: italic;
    padding: 0 3rem 0 4rem;
    position: relative;

    .icon-font {
      font-size: 1.5rem;
      position: absolute;
    }

    .icon-quote-left {
      left: 1rem;
      top: 0;
    }

    .icon-quote-right {
      right: .5rem;
      bottom: 0;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: stretch;
    margin-top: 6rem;
  }

  .footer__btn {
    color: inherit;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(128,128,128,0.13), 0 1px 8px 0 rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    transition: background-color .2s;
    cursor: pointer;

    &:hover {
      background-color: #f9f9f9;
    }

    p {
      margin-bottom: 0;
      width: 100%;
    }

    .icon-font {
      transition: all .2s;
    }

    &.home {
      height: 100%;
    }

    &.next {
      flex-grow: 1;
      margin-left: 1rem;
      padding-right: 2rem;

      p {
        margin-bottom: 0;
        width: 100%;
      }

      h6 {
        font-size: .9rem;
        color: #a0a0a0;
        margin-bottom: .2rem;
      }

      .next-name {
        font-size: 1.15rem;
        font-weight: 900;
        line-height: 1.2;
      }

      .icon-font {
        position: absolute;
        right: 1.25rem;
        top: calc(50% - .75rem);
      }

      &:hover .icon-font {
        right: 1rem;
      }
    }
  }
}

.dropdown-menu {
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(128,128,128,0.13), 0 1px 8px 0 rgba(0,0,0,0.06);
  border-radius: 5px;
  border: none;
  max-height: 360px;
  overflow: auto;
  padding: 0;
  user-select: none;
}

.dropdown-item {
  border-bottom: solid 1px #f9f9f9;
  padding: 0.75rem 1.5rem;
  cursor: pointer;

  &:first-child {
    padding-top: 1rem;
  }

  &:last-child {
    padding-bottom: 1rem;
  }

  &:active {
    color: $dark;
    background-color: #f0f0f0;
  }

  h6 {
    font-size: .9rem;
    margin-bottom: 0;
  }

  .tag {
    opacity: .9;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 12px;
    padding: .1rem .5rem;

    &:not(:last-child) {
      margin-right: .2rem;
    }
  }
}

.dropdown-toggle:after {
  display: none !important;
}

app-footer {
  background-color: #f9f9f9;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: block;
  margin-top: 8rem;
}