<div class="project-wrapper">
  <app-project-info class="d-none d-md-block col-12 col-md-3 mr-5" [project]="project"></app-project-info>
  <div class="content">
    <h2 class="title">{{project.title}}</h2>
    <p class="category">{{project.category}}</p>
    <p class="time" *ngIf="project.time"><i class="icon-font icon-calendar-empty mr-1"></i>{{project.time}}</p>
    <div *ngIf="project.originLang !== translate.currentLang">
      <p class="translated" *ngIf="viewingLang !== project.originLang;">
        <i class="icon-font icon-language mr-1"></i>
        {{ 'project.translated' | translate }}
        <a class="translate-link" (click)="viewOriginal()">{{ 'project.viewOriginal' | translate }}</a>
      </p>
      <p class="translated" *ngIf="viewingLang === project.originLang;">
        <i class="icon-font icon-language mr-1"></i>
        <a class="translate-link" (click)="viewTranslated()">{{ 'project.viewTranslated' | translate }}</a>
      </p>
    </div>
    <div class="content__main" [innerHTML]="viewingLang === 'en' ? renderedEn : renderedZh" *ngIf="!loading"></div>
    <div class="content__main" *ngIf="loading">
      <app-article-skeleton></app-article-skeleton>
    </div>
    <div class="footer">
      <div placement="top-left">
        <a routerLink="/" class="footer__btn home"><i class="icon-font icon-home"></i></a>
      </div>
      <a [routerLink]="nextLink" class="footer__btn next">
        <h6>{{ 'project.next' | translate}}</h6>
        <p class="next-name">{{nextName}}</p>
        <i class="icon-font icon-right-dir"></i>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>