.thumbnail-container {
  width: 100%;
  overflow: hidden;
  transition: all ease 1s;
  cursor: pointer;
  position: relative;
}

.thumbnail {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 100%;
  transform: scale(1.01);
  transition: all .2s ease-in-out;

  &.size-2 {
    padding-bottom: 50%;
  }
}

.info {
  display: flex;
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(128,128,128,0.13), 0 1px 8px 0 rgba(0,0,0,0.06);
  bottom: -40px;
  left: 6px;
  right: 6px;
  padding: .5rem;
  transition: all .2s ease;
  opacity: 0;
  overflow: hidden;

  &:hover .icons {
    opacity: 0;
  }

  .icons {
    display: flex;
    position: absolute;
    align-items: center;
    background-color: white;
    box-shadow: -3px 0px 10px 1px rgba(255, 255, 255, 1);
    right: .5rem;
    top: 0;
    bottom: 0;
    transition: all .2s ease-in-out;
  }

  .icon-wrapper {
    border-radius: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: .8rem;
    text-align: center;
    flex: 0 0 auto;

    &:not(:first-child) {
      margin-left: .2rem;
    }

    .fa, .fas, .fab, .far {
      transform: translateY(.25rem);
    }

    img {
      width: calc(100% - 6px);
      transform: translateY(0.15rem);
    }
  }

  h6 {
    display: flex;
    font-size: .85rem;
    align-items: center;
    font-weight: 800;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
  }
}

.thumbnail-container:hover {
  .info {
    bottom: 6px;
    opacity: 1;
  }
}