/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

html {
  font-size: 87.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #363636;
}

* {
  outline: none;
}

a:focus {
  text-decoration: none;
}