/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100:200,300,400,500');
@import './bootstrap-exports';

@font-face {
  font-family: 'flow-circular';
  src: url('./assets/fonts/flow-circular.woff');
}

@keyframes color-breathing {
  from {
    color: #f9f9f9;
  }
  to {
    color: #f0f0f0;
  }
}

@keyframes bg-breathing {
  from {
    background: #f9f9f9;
  }
  to {
    background: #f0f0f0;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #363636;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

* {
  outline: none;
}

a:focus {
  text-decoration: none;
}

.container-fluid {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

button {
  outline: none !important;
}
