/* You can add global styles to this file, and also import other style files */
@import './bootstrap-exports';

@font-face {
  font-family: 'flow-circular';
  src: url('./assets/fonts/flow-circular.woff');
}

@keyframes color-breathing {
  from {
    color: #f9f9f9;
  }
  to {
    color: #f0f0f0;
  }
}

@keyframes bg-breathing {
  from {
    background: #f9f9f9;
  }
  to {
    background: #f0f0f0;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #363636;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

* {
  outline: none;
}

a:focus {
  text-decoration: none;
}

.container-fluid {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

button {
  outline: none !important;
}

.bg- {
  &ux {
    background-color: #FFFCBF;
  }
  &angular {
    background-color: #FFD5D5;
  }
  &front-end {
    background-color: #DBF1FF;
  }
  &back-end {
    background-color: #DDE0FF;
  }
  &game-dev {
    background-color: #D4FFEA;
  }
  &vr {
    background-color: #FFDDF0;
  }
  &mobile {
    background-color: #FFEDDD;
  }
  &exp {
    background-color: #E7DDFF;
  }
  &arduino {
    background-color: #C7D5E8;
  }
  &data-vis {
    background-color: #FFE2F6;
  }
  &infographics {
    background-color: #FFF8DD;
  }
}